:root {
    --columns: 10;
    --rows: 8;
    --squareBorder: 2px;
    --squareLength: calc(100vh / var(--rows) - var(--squareBorder) * 2);
}
body {
    margin: 0;
    padding: 0;
}

#board {
    display: grid;
    grid: repeat(var(--rows), auto) / repeat(var(--columns), auto);
    justify-items: center;
    justify-content: center;
}
.square {
    height: var(--squareLength);
    width: var(--squareLength);
    background-color: gray;
    border: var(--squareBorder) solid black;
}
.red {
    background-color: red;
}
.silver {
    background-color: silver;
}